$primary-background-color:rgb(0, 0, 0);
$primary-font-color:rgb(255, 255, 255);

.logBtn {
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 15px;
    right: 3%;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(185, 30, 30);
    border-radius: 15px;
    font-weight: bolder;
    font-size: 16px;

    &:hover {
        font-size: 18px;
    }
    
    &:active, &:focus {
        outline: 0;
    }
}
  
body {
    background: $primary-background-color;
}
  
main {
    color: $primary-font-color;
    padding: 5.2rem 3rem 2rem 3rem;
}  
