.btn{
    display: flex;
    justify-content: center;
    position: fixed;
    padding: 15px;
    right: 5%;
    cursor: pointer;
    border: none;
    color: rgb(255, 255, 255);
    background-color: rgb(172, 30, 30);
    border-radius: 15px;
    font-weight: bolder;
    font-size: 16px;
}
  
.btn:hover{
    font-size: 20px;
}
