.app-logo {
    display: inline-flex;
    width: 8.5rem;
    margin: auto 1rem;
    padding: 10px;

    img {
        width: 100%;
        max-width: 150px;
        height: auto;
        position: relative;
        left: 5%;
    }

}
